html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: ; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    width: 100vw;
    height: 10.9375em;
}
.nav-item {
    background-color: darkgrey;
    width: 12%;
    height: 8.3125em;
}

#logo {
    background-color: rgb(128, 128, 128);
}

#latest-articles {
    position: relative;
    display: flex;
    align-items: center;
    height: 800px;
}

#cta-wrapper {
    position: absolute;
    top: 2.9em;
    left: 35%;
    right: 35%;
    text-align: center;
}

.call-to-action {
    background-color: black;
    color: white;
    padding: 0.25em;
}

#color-change {
    position: absolute;
    top: 6.5em;
    right: 5%;
    height: 64px;
    width: 240px;
    background-color: lightgray;
}

.latest-article {
    padding-top: 15%;
    width: 50%;
    background: rgb(228, 228, 228);
    height: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.right {
    background: #fff;
}

.author {
    height: 110px;
    width: 45%;
    background: rgb(116, 116, 116);
}
