html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: ; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    width: 100vw;
    height: 10.9375em;
}
.nav-item {
    background-color: darkgrey;
    width: 12%;
    height: 8.3125em;
}

#logo {
    background-color: rgb(128, 128, 128);
}